.voting-block {
    -fx-background-color: #f0f0f0; /* Колір фону для блоку голосування */
    -fx-padding: 20px; /* Додамо відступи */
}

.category-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.vote-button {
    -fx-font-size: 14px;
    -fx-background-color: #3498db; /* Колір кнопки голосування */
    -fx-text-fill: #ffffff; /* Колір тексту кнопки */
    -fx-padding: 5px 10px; /* Додамо відступи */
    -fx-border-radius: 5px; /* Округлимо кути кнопки */
}

.vote-button:hover {
    -fx-background-color: #2980b9; /* Змінимо колір кнопки при наведенні */
}
